API_KEY=your_openweather_api_key

MINIO_ACCESS_KEY=ROOTUSER
MINIO_SECRET_KEY=CHANGEME123
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=weather-bucket

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=weather_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

AIRFLOW_IMAGE_NAME=apache/airflow:2.10.2
AIRFLOW_UID=50000
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/weather_db
AIRFLOW_CORE_EXECUTOR=LocalExecutor

CITIES="Hanoi,vn;Ho Chi Minh,vn;Da Nang,vn;..."
