AIRFLOW_IMAGE_NAME=apache/airflow:2.10.2
AIRFLOW_UID=50000
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/weather_db
AIRFLOW_CORE_EXECUTOR=LocalExecutor

DOCKER_DEFAULT_PLATFORM=linux/amd64

# Get your free API key from https://openweathermap.org/api
OPENWEATHER_API_KEY=YOUR_API_KEY

CITIES=Ha_Noi;Ho_Chi_Minh;Da_Nang;Hai_Phong;An_Giang;Bac_Giang;Bac_Lieu;Ba_Ria-Vung_Tau;Bac_Kan;Bac_Ninh;Ben_Tre;Binh_Dinh;Binh_Duong;Binh_Phuoc;Binh_Thuan;Ca_Mau;Can_Tho;Cao_Bang;Dak_Lak;Dak_Nong;Dien_Bien;Dong_Nai;Dong_Thap;Gia_Lai;Ha_Giang;Ha_Nam;Ha_Tinh;Hai_Duong;Hau_Giang;Hoa_Binh;Hung_Yen;Khanh_Hoa;Kien_Giang;Kon_Tum;Lai_Chau;Lam_Dong;Lang_Son;Lao_Cai;Long_An;Nam_Dinh;Nghe_An;Ninh_Binh;Ninh_Thuan;Phu_Tho;Phu_Yen;Quang_Binh;Quang_Nam;Quang_Ngai;Quang_Ninh;Quang_Tri;Soc_Trang;Son_La;Tay_Ninh;Thai_Binh;Thai_Nguyen;Thanh_Hoa;Thua_Thien-Hue;Tien_Giang;Tra_Vinh;Tuyen_Quang;Vinh_Long;Vinh_Phuc;Yen_Bai

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=weather_db
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=ROOT_USER
MINIO_SECRET_KEY=CHANGEME123
MINIO_BUCKET=weather-data
MINIO_RAW_PREFIX=raw_data
MINIO_CLEAN_PREFIX=clean_data
MINIO_GOLD_PREFIX=gold

LOG_LEVEL=INFO

MIN_VALID_TEMPERATURE=-60
MAX_VALID_TEMPERATURE=60
MIN_VALID_HUMIDITY=0
MAX_VALID_HUMIDITY=100
MIN_VALID_WIND_SPEED=0
MAX_VALID_WIND_SPEED=150

REQUEST_TIMEOUT=10
MAX_RETRIES=2
RETRY_DELAY_SECONDS=300

_PIP_ADDITIONAL_REQUIREMENTS=requests pandas sqlalchemy psycopg2-binary boto3 python-dotenv numpy pydantic pytest
